html {
  background-color: #f5fcd9;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: monospace, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #f5fcd9;
  background-image: linear-gradient(to right, rgba(23, 61, 42, 0), rgba(23, 61, 42, 0.95), rgba(23, 61, 42, 0));
}

h1 {
  margin: 35px 0 20px 0;
}

li {
  list-style-type: none;
  padding: 60px;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(23, 61, 42, 0), rgba(23, 61, 42, 0.75), rgba(23, 61, 42, 0));
}

button {
  width: 110px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 14px;
}

#lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  margin: auto;
  font-size: 20px;
}

#imagelist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 0;
}

.icon {
  height: 115px;
  width: 115px;
}
